.auth_form {
  margin-bottom: 70px;
  .form_description {
    margin-bottom: 30px;
    p {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.3;
    }
  }
  .field_item {
    margin-bottom: 10px;
    &:first-child {
      margin-bottom: 35px;
    }
  }
  .checkbox_field {
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      border-radius: 0;
      border-color: $black;
      background: $transparent;
      -webkit-appearance: none;
      outline: none;
      &:checked {
        background: url('../images/checked.png') no-repeat center center;
      }
    }
    label {
      font-size: $baseFontSize - 2;
      padding-left: 10px;
      text-decoration: underline;
    }
  }
  .submit_field {
    margin-top: 40px;
    button {
      @include margin_align();
    }
  }
  @media screen and (max-width: $smScreen) {
    margin-bottom: 0;
  }
}