html {
  height: 100%;
  min-height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  &.light_background {
    background: url('../images/white_background.png');
    background-size: cover;
  }
}


.block_center {
  @include margin_align();
}

.base_background {
  background: url('../images/grid_background.png') no-repeat;
  background-size: cover;
}

.base_color_background {
  background: $baseColor;
}

.light_background {
  background: $lightBackground;
}

a, button, input, textarea {
  outline: none;
}