html {
  height: 100%;
  min-height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  &.light_background {
    background: $lightBackground;
    background-size: cover;
  }
}

.relative {
  position: relative;
}
.block_center {
  @include margin_align();
}

.base_background {
  background: url('../images/grid_background.png') no-repeat;
  background-size: cover;
  @media screen and (max-width: $smScreen) {
    background: url('../images/mobile_grid_background.png') no-repeat;
    background-size: cover;
  }
}

.base_color_background {
  background: $baseColor;
}

.light_background {
  background: $lightBackground;
}

a, button, input, textarea {
  outline: none;
}

#primary.container {
  margin-bottom: 60px;
}

.logout_link {
  vertical-align: middle;
  margin-top: 12px;
  a {
    &:hover {
      color: $white;
    }
  }
  @media screen and (max-width: 991px) {
    margin: 0 !important;
    a {
      margin: 0 !important;
    }
  }
}

// custom arh bootstrap start
@media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
  .container {
    width: $customMdContainerWidth;
  }
}

//custom arh bootstrap end


