.button {
  font-size: $buttonFontSize;
  display: block;
  text-transform: uppercase;
  border: $baseButtonBorder;
  color: $white;
  background: $baseButtonBackground;
  font-family: $boldFont;
  @include align();
  &.white {
    border-color: $white;
    color: $white;
    @include buttonHover();
  }
  &.black {
    border-color: $black;
    color: $black;
    @include buttonHover();
  }
  &.medium {
    width: $mediumButtonWidth;
    height: $buttonHeight;
  }
  &.revert_hover {
    @include revertButtonHover();
  }
}
a, input {
  &.button {
    padding: 5px 0;
    text-decoration: none !important;
  }
}