.wpuf-form {
  @include clearfix();
}

.select_field {
  width: 20%;
  float: left;
  .wpuf-fields {
    width: 100% !important;
    .file-selector {
      display: block !important;
      width: 100% !important;
    }
  }
  select {
    width: 100% !important;
    height: 35px !important;
    display: block;
    outline: none;
    background: $lightBackground;
    border: 1px solid $black !important;
    border-radius: 0 !important;
  }
  @media screen and (max-width: $smScreen) {
    width: 50%;
  }
}
.text_field {
  float: left;
  width: 100%;
  input {
    width: 50% !important;
    background: $transparent !important;
    height: 35px !important;
    border: 1px solid $black !important;
    padding-left: 20px !important;
    @include webkitPlaceholderStyle();
    @include mozPlaceholderStyle();
  }
  @media screen and (max-width: $smScreen) {
    input {
      width: 100% !important;
    }
  }
}

.textarea_field {
  float: left;
  width: 100%;
  textarea {
    width: 50% !important;
    @include customFormsStyle();
    height: auto !important;
  }
  @media screen and (max-width: $smScreen) {
    textarea {
      width: 100% !important;
    }
  }
}

.auth_form {
  .wpuf-form {
    li {
      .wpuf-label {
        display: none;
      }
      input {
        width: 100%;
        @include customFormsStyle();
        @include webkitPlaceholderStyle($baseFontSize - 2, $textGray);
        @include mozPlaceholderStyle($baseFontSize - 2, $textGray);
        @include margin_align();
      }
      input[type="submit"] {
        @include customSubmitStyle();
        border: 2px solid $black !important;
        &:hover {
          border-color: $baseColor !important;
          background: $baseColor !important;
          color: $white;
          @include transition();
        }
      }
    }
    .wpuf-fields {
      width: 100% !important;
    }
  }
  .login_form {
    color: $white;
  }
  .login {
    .wpuf-login-form {
      & > p {
        margin-bottom: 25px;
        color: $black;
      }
      label {
        display: none !important;
      }
      input:not([type="submit"]) {
        width: 100%;
        @include customFormsStyle();
        @include webkitPlaceholderStyle($baseFontSize - 2, $textGray);
        @include mozPlaceholderStyle($baseFontSize - 2, $textGray);
      }
      input[type="submit"] {
        @include customSubmitStyle();
        border: 2px solid $black !important;
        &:hover {
          border-color: $baseColor !important;
          background: $baseColor !important;
          color: $white;
          @include transition();
        }
      }
      .forgetmenot {
        label {
          display: inline-block !important;
          color: $black !important;
          font-size: $baseFontSize - 2;
          font-family: $baseFont;
        }
        input {
          margin-top: 0 !important;
          padding-top: 0 !important;
          vertical-align: middle;
          display: inline-block !important;
          width: 20px !important;
          height: 20px !important;
          -webkit-appearance: none;
          border: 2px solid $black;
          background: $transparent;
          border-radius: 0;
          outline: none;
          margin-right: 5px;
          &:checked {
            background: url('../images/checked.png') no-repeat center center !important;
          }
        }
      }
      & ~ a {
        display: none;
      }
    }
  }
}

.file_input,
.file_field {
  float: left !important;
  width: 19.5% !important;
  .wpuf-fields {
    width: 100% !important;
  }
  @media screen and (max-width: $smScreen) {
    width: 60% !important;
  }
}
.wpuf-fields {
  float: left !important;
}
ul.wpuf-form li .wpuf-fields a.file-selector {
  width: 100% !important;
  display: block !important;
  font-size: $baseFontSize - 2;
  font-family: $baseFont;
  height: 35px;
  text-transform: lowercase;
  padding: 0.5px 0;
  padding-right: 30px;
  background: url('../images/upload.png') no-repeat 95% center !important;
  position: relative;
  &::after {
    content: '';
    display: block;
    position: absolute;
    right: 15%;
    top: 0;
    border-left: 1px solid $black;
    height: 34px;
  }
}

// custom submit new post
//#post-68 > div > form > ul > li.wpuf-submit > input[type="submit"]:nth-child(7) {
//  float:;
//}
.wpuf-submit {
  float: left;
  width: 80%;
  input[type="submit"] {
    width: $mediumButtonWidth !important;
    margin-top: 25px;
  }
}
#post-68 > div > form > ul > li.wpuf-submit > input[type="submit"]:nth-child(7) {
  width: $mediumButtonWidth !important;
}

#post-68 #loginform label {
  display: block !important;
  color: #1f2932;
}
#post-68 #loginform input[type="submit"] {
  width: 180px !important;
  color: #1f2932 !important;
  border-color: #1f2932 !important;

}
#post-68 #loginform input {
  color: #1f2932 !important;
}


.login {
  a.forgot_link {
    color: $black;
  }
}

  .arh_custom_block {
  display: inline-block;
  width: 49%;
  &.custom_forgot_link {
    @include align(right);
    a {
      font-size: $baseFont - 3;
      font-family: $boldFont;
      @include textHover();
    }
  }
}
  .wppb-username-email {
    input {
      &.text-input {
        width: 30% !important;
      }
    }
  }

  p.form-submit {
    input[type="submit"] {
      border: 1px solid $black;
      font-size: $baseFontSize - 3;
      color: $black;
      display: block;
      padding: 8px 15px;
      @include buttonHover();
    }
  }
  #wppb-recover-password-container {
    .wppb-form-field {
      label {
        display: block !important;
      }
      input {
        &.text-input {
          width: 200px !important;
        }
      }
    }
  }
  #wpuf-login-form {
    .wpuf-message {
      display: none !important;
    }
  }


