.wpuf-form {
  @include clearfix();
}

.select_field {
  width: 20%;
  float: left;
  .wpuf-fields {
    width: 100% !important;
  }
  select {
    width: 100% !important;
    height: 35px !important;
    display: block;
    outline: none;
    background: $lightBackground;
    border: 1px solid $black !important;
    border-radius: 0 !important;
  }
}
.text_field {
  float: left;
  width: 100%;
  input {
    width: 50% !important;
    background: $transparent !important;
    height: 35px !important;
    border: 1px solid $black !important;
    padding-left: 20px !important;
    @include webkitPlaceholderStyle();
    @include mozPlaceholderStyle();
  }
}
.textarea_field {
  float: left;
  width: 100%;
  textarea {
    width: 50% !important;
    background: $transparent !important;
    padding-top: 5px;
    padding-left: 20px !important;
    border: 1px solid $black !important;
    @include webkitPlaceholderStyle();
    @include mozPlaceholderStyle();
  }
}