.separate_line {
  height: $separateLineHeight;
  width: $separateLineWidth;
  margin: 20px 0;
  display: inline-block;
  &.center {
    @include margin_align();
  }
  &.black {
    background: $black;
  }
  &.white {
    background: $white;
  }
}


.line_hover {
  @include decorLine();
}

.small_arrow {
  display: block;
  background: url('../images/small_arrow.png') no-repeat;
  width: 25px;
  height: 22px;
}

.left_separate {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 340px;
    width: 1px;
    background: $white;
  }
  &.black {
   &::before {
     background: $black;
   }
  }
}

.bottom_separate {
  position: relative;
  &::after {
    content: '';
    height: 5px;
    width: 110px;
    background: $black;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  &.orange {
    &::after {
      background: $orange;
    }
  }
}

.top_link {
  display: none;
  position: fixed;
  padding-right: 15px;
  right: 30px;
  top: 100px;
  background: url('../images/top_arrow.png') no-repeat right center;
  color: $white !important;
  font-size: $baseFontSize - 1;
  text-shadow: 0px 0px 5px $black;
  z-index: 100000;
  @include transition();
  &:hover {
    text-decoration: underline;
    color: $white;
    text-shadow: 0px 0px 5px $black;
  }
  &:visited {
    color: $white;
  }
}

.gold_marker {
  padding-left: 35px !important;
  background: url('../images/gold_marker.png') no-repeat 15px center;
}

.like_sprite {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  @include changeSpriteHover(-34px -5px);
  &.checked {
    background-position: -5px -5px;
  }
}

.fluid_separate {
  width: 100%;
  min-height: 2px;
  border-top: 2px solid $black;
}

.revert_grayscale {
  @include revertGrayScaleHover();
}

.orange_marker {
  li {
  list-style: none;
  position: relative;
    padding-left: 15px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    display: block;
    background: $orange;
    width: 5px;
    height: 5px;
    }
  }
}

@media screen and (max-width: $smScreen) {
  .bottom_separate_line {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 30%;
    @include align();
    &::after {
      content:'';
      display: inline-block;
      width: 80px;
      height: 2px;
      background: $white;
      bottom: -10px;
    }
  }
  .bottom_separate_mobile {
    border-bottom: 1px solid $white;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}