.separate_line {
  height: $separateLineHeight;
  width: $separateLineWidth;
  margin: 20px 0;
  display: inline-block;
  &.center {
    @include margin_align();
  }
  &.black {
    background: $black;
  }
  &.white {
    background: $white;
  }
}


.line_hover {
  @include decorLine();
}

.small_arrow {
  display: block;
  background: url('../images/small_arrow.png') no-repeat;
  width: 25px;
  height: 22px;
}

.left_separate {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    height: 340px;
    width: 1px;
    background: $white;
  }
}

.top_link {
  display: block;
  position: fixed;
  padding-right: 15px;
  right: 30px;
  top: 100px;
  background: url('../images/top_arrow.png') no-repeat right center;
  color: $white;
  font-size: $baseFontSize - 1;
  @include transition();
  &:hover {
    text-decoration: underline;
    color: $white;
    text-shadow: 0px 0px 5px $black;
  }
  &:visited {
    color: $white;
  }
}

.gold_marker {
  padding-left: 35px !important;
  background: url('../images/gold_marker.png') no-repeat 15px center;
}