.base_form {
  input:not([type="submit"]), textarea {
    border: 1px solid $black;
    background: $inputBackground;
    padding-left: 10px;
  }
  .field_item {
    margin-bottom: 20px;
  }
  input:not([type="submit"]) {
    height: $inputHeight;
    width: 98%;
    display: inline-block;
  }
  textarea {
    width: 100%;
    padding-top: 10px;
  }
  .submit_field {
    margin-top: 10px;
  }

  .checkbox_field {
    input[type="checkbox"] {
      width: 20px;
      height: 20px;
      border-radius: 0;
      border-color: $black;
      background: $transparent;
      -webkit-appearance: none;
      outline: none;
      &:checked {
        background: url('../images/checked.png') no-repeat center center;
      }
    }
    label {
      font-size: $baseFontSize - 2;
      padding-left: 10px;
      text-decoration: underline;
    }
  }
  input[type="submit"] {
    width: $mediumButtonWidth;
    height: $buttonHeight;
    background: $baseButtonBackground;
    border: 2px solid $black;
    color: $black;
    font-size: $buttonFontSize;
    font-family: $buttonFont;
    @include margin_align();
    @include transition();
    &:hover {
      background: $baseColor;
      color: $white;
      border-color: $baseColor;
    }
  }
}
.contact_form {
  textarea {
    height: 110px;
  }
}

