.pre_footer {
  padding-bottom: $footerHeight;
}

footer {
  .banner_heading {
    margin-bottom: 20px;
    h2 {
      font-size: $h3FontSize - 3;
    }
  }
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  padding: 60px 0 70px 0;
  .arh_logo {
    margin-bottom: 100px;
  }
  .copyright {
    padding-right: 50px;
    .logo {
      margin-bottom: 10px;
    }
  }
  .contact_block {
    padding-left: 40px;
    .top_text {
      padding-right: 60px;
      margin-bottom: 100px;
      p {
        margin-bottom: 20px;
      }
    }
    .bottom_text {
      padding-right: 60px;
      margin-bottom: 20px;
    }
    .social_block {
      ul {
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            i {

            }
          }
        }
      }
    }
  }
  .partners_block {
    padding-left: 40px;
    .logo {
      margin-bottom: 55px;
    }
    .partners_list {
      ul {
        height: 70px;
        li {
          display: block;
          margin-right: 20px;
          float: left;
           a {
             display: block;
           }
          &:nth-child(3) {
            margin-top: -5px;
          }
          &:nth-child(2) {
            margin-top: -20px;
          }
        }
      }
    }
  }
}