.pre_footer {
  padding-bottom: $footerHeight;
  @media screen and (max-width: $smScreen) {
    padding-bottom: $mobileFooterHeight;
  }
  @media screen and (max-width: $phoneScreen) {
    height: $mobileFooterHeight + 55px;
  }
  @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
    padding-bottom: 380px;
  }
}

footer {
  .banner_heading {
    margin-bottom: 20px;
    h2 {
      font-size: $h3FontSize - 3;
    }
  }
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  padding: 60px 0 70px 0;
  .arh_logo {
    margin-bottom: 80px;
  }
  .copyright {
    padding-right: 50px;
    .logo {
      margin-bottom: 10px;
    }
    .rules_protection {
      margin-top: 35px;
      span {

      }
    }
  }
  .contact_block {
    padding-left: 40px;
    .top_text {
      padding-right: 60px;
      margin-bottom: 60px;
      p {
        margin-bottom: 40px;
      }
    }
    .bottom_text {
      padding-right: 60px;
      margin-bottom: 20px;
    }
    .social_block {
      ul {
        li {
          display: inline-block;
          margin-right: 20px;
          a {
            i {

            }
          }
        }
      }
    }
  }
  .partners_block {
    padding-left: 40px;
    .logo {
      margin-bottom: 55px;
    }
    .partners_list {
      ul {
        height: 70px;
        li {
          display: block;
          margin-right: 20px;
          float: left;
           a {
             display: block;
           }
          &:nth-child(3) {
            margin-top: -5px;
          }
          &:nth-child(3) {
            margin-top: -20px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $smScreen) {
    height: $mobileFooterHeight;
    padding: 30px 15px;
    .social_block {
      &.mobile {
        ul {
          li {
            display: inline-block;
            margin-right: 10px;
          }
        }
      }
    }
    h3 {
      font-size: $baseMobileFontSize;
      margin-top: 3px;
    }
    .about_cds_footer_mobile {
      margin-bottom: 10px;
    }
    .copyright {
      padding-right: 0;
      @include clearfix();
      & > div {
        float: left;
        &.copyright_mobile_text {
          width: 40%;
          h3 {
            margin-top: 11px;
          }
        }
        &.logo {
          width: 15%;
          @include align(right);
          * {
            display: inline-block;
          }
        }
        &.text {
          width: 45%;
          padding-left: 9px;
        }
      }
      .mobile_rules_protection {
        padding: 20px 10px 30px 10px;
      }
    }
  }
  @media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
    .copyright {
      padding-right: 30px;
    }
    .contact_block {
      .top_text {
        padding-right: 15px;
      }
    }
  }
  @media screen and (max-width: $phoneScreen) {
    height: $mobileFooterHeight + 30px;
  }
  @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
    height: 380px;
    .social_block {
      &.mobile {
        @include align(right);
      }
    }
  }
}