body {
  position: relative;
}

.fluid_wrapper {
  padding-left: 8%;
  @media screen and (max-width: $smScreen) {
    padding-left: 0;
  }
  @media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
    padding-left: 5% !important;
  }
}