body {
  position: relative;
}

.fluid_wrapper {
  padding-left: 8%;
  @media screen and (max-width: $smScreen) {
    padding-left: 0;
  }
  @media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
    padding-left: 5% !important;
  }
}

.grid_5 {
  float: left;
  width: 20%;
}

@media screen and (max-width: 991px) {
  .grid_xs_6 {
    float: left;
    width: 50%;
  }
}

