header {
  padding: 73px 0;
  box-sizing: border-box;
  .top_header_section {
    margin-bottom: 31px;
  }
  .nav_header_section {
    border: 1px solid $white;
    padding: 66px 0 56px 0;
    position: relative;
    .toggle_button {
      position: absolute;
      left: 20px;
      top: 17px;
    }
    .nav_text {
      .text {
        padding: 0 76px 0 110px;
        margin-bottom: 39px;
        h3 {
          margin: 0;
          line-height: $largeLineHeight;
          font-family: $ghostFont;
        }
      }
      .button_more {
        margin-top: 35px;
      }
    }
  }
  &.light_header {
    padding: 65px 0 27px 0;
    .toggle_button {
      margin-top: -4px;
    }
    .toggle_container {
      display: block;
      float: left;
      width: 7.5%;
    }
  }
  &.primary_header_container {
    height: 100vh;
  }
}

.logo_header_icon {
  display: block;
  width: 145px;
  height: 45px;
  background: url('../images/logo_cds.png') no-repeat;
  @include transition();
  &:hover {
    background: url('../images/logo_cds_hover.png') no-repeat;
  }
}

.header_primary {
  height: 375px;
  h3 {
    font-weight: 100;
  }
  .button_row {
    margin-top: 30px;
  }
}