header {
  padding: 73px 0;
  box-sizing: border-box;
  .top_header_section {
    margin-bottom: 31px;
  }
  .nav_header_section {
    border: 1px solid $white;
    padding: 66px 0 56px 0;
    position: relative;
    .toggle_button {
      position: absolute;
      left: 20px;
      top: 17px;
    }
    .nav_text {
      .text {
        padding: 0 76px 0 110px;
        margin-bottom: 39px;
        h3 {
          margin: 0;
          line-height: $largeLineHeight;
          font-family: $ghostFont;
        }
      }
      .button_more {
        margin-top: 35px;
      }
    }
  }
  &.light_header {
    padding: 65px 0 27px 0;
    .toggle_button {
      margin-top: -4px;
    }
    .toggle_container {
      display: block;
      float: left;
      width: 7.5%;
    }
  }
  &.primary_header_container {
    height: 100vh;
  }
  @media screen and (max-width: $smScreen) {
    padding: 45px 15px;
    .top_header_section {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 25px;
      .mobile_block_cds {
        h5 {
          font-size: $baseMobileFontSize - 3;
          margin-top: 0;
          margin-bottom: 0;
          font-weight: 100;
          font-family: $baseFont;
        }
        img {
          margin-top: 7px;
          display: inline-block;
        }
      }
    }
    .nav_header_section {
      padding: 50px 0 0 0;
      .nav_text {
        .text {
          padding: 0 15px;
          h3 {
            font-size: $baseMobileFontSize + 2;
            line-height: $baseLineHeight;
            font-weight: 100;
          }
        }
        .button_more {
          margin-top: 25px;
          padding-bottom: 45px;
        }
      }
    }
    .cursor {
      img {
        width: 40px;
      }
    }
  }
}

.logo_header_icon {
  display: block;
  width: 145px;
  height: 45px;
  background: url('../images/logo_cds.png') no-repeat;
  @include transition();
  &:hover {
    background: url('../images/logo_cds_hover.png') no-repeat;
  }
}

.header_primary {
  height: 375px;
  h3 {
    font-weight: 100;
  }
  .button_row {
    margin-top: 30px;
  }
}