header {
  padding: 73px 0;
  box-sizing: border-box;
  .top_header_section {
    margin-bottom: 31px;
  }
  .nav_header_section {
    border: 1px solid $white;
    padding: 66px 0 56px 0;
    position: relative;
    .toggle_button {
      position: fixed;
      left: 90px;
      top: 178px;
      z-index: 1000;
    }
    .nav_text {
      .text {
        padding: 0 76px 0 110px;
        margin-bottom: 39px;
        h3 {
          margin: 0;
          line-height: $largeLineHeight;
        }
      }
      .button_more {
        margin-top: 35px;
      }
    }
  }
}