.helper {
  height: $helperHeight;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px;
  @include align();
  * {
    font-size: $baseFontSize + 1;
  }
  &.red {
    background: $helperRed;
    * {
      color: $white;
    }
  }
  a {
    text-decoration: underline;
  }
  .helper_close {
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 100000;
    @include closeToggle(15px, $white);
  }
}