.helper {
  height: $helperHeight;
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 7px;
  z-index: 100000;
  @include align();
  * {
      font-size: $baseFontSize + 1;
  }
  &.red {
    background: $helperRed;
    * {
      color: $white;
    }
  }
  a {
    text-decoration: underline;
  }
  .helper_close {
    right: 15px;
    top: 10px;
    position: absolute;
    z-index: 100000;
    @include closeToggle(15px, $white);
  }
  @media screen and (max-width: $smScreen) {
    height: $mobileHelperHeight;
    padding: 4px;
    * {
      font-size: $baseMobileFontSize - 2;
    }

  }
  @media screen and (max-width: 321px) {
    * {
      font-size: $baseMobileFontSize - 4 !important;
    }
  }
  @media screen and (min-width: $smScreen) {
    .loggined_helper {
      * {
        font-size: $baseFontSize;
      }
      .helper_user_info {
        * {
          font-size: $smallFont;
        }
        .user_info_list {
          //width: 55%;
          a {
            text-decoration: none;
          }
          .dropdown-menu {
            top: auto;
            bottom: -115px;
            min-width: 1px;
            left: 27%;
            width: 50%;
            background: $helperRed;
            border: none;
            li {
              border: none !important;
              a {
                text-transform: none;
              }
            }
          }
        }
      }
    }
  }
}

.helper_toggle {
  position: fixed;
  top: 10px;
  right: 15px;
  opacity: 0.8;
  @include transition(all 0.1s);
  * {
    cursor: pointer;
    color: $white;
    @include transition(all 0.1s);
  }
  &:hover {
    opacity: 1;
    * {
      color: darken($orange, 15%);
    }
    i {
      @include transform(scale(1.1));
    }
  }
  &.orange {
    opacity: 0.8;
    * {
      color: $orange;
    }
    &:hover {
      opacity: 1;
      * {
        color: darken($orange, 15%);
      }
    }
  }
}

.subscrible_helper {
  padding: 7px;
  display: none;
  top: auto;
  bottom: 0;
  background: $orange;
  .close_button {
    @include closeToggle(20px, $white);
    top: 6px;
    position: absolute;
    right: 20px;

  }
  @media screen and (max-width: 1100px) {
    * {
      font-size: 9px;
    }
  }
}