@mixin margin_align() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin align($align: center) {
  text-align: $align;
}

@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin flex_align($justify-content: center,$align-item: center ) {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: $justify-content;
  align-items: $align-item;
  -webkit-align-items: $align-item;
}

@mixin decorLine($background: $white, $size: 20px) {
  position: relative;
  .separate_line_hover {
    position: absolute;
    display: block;
    background: $background;
    &.left, &.right {
      width: $size;
      height: 1px;
    }
    &.top, &.bottom {
      width: 1px;
      height: $size;
    }
    &.left {
      left: -$size - 1;
      top: 46%;
    }
    &.right {
      right: -$size - 1;
      top: 46%;
    }
    &.bottom {
      bottom: -$size - 1;
      left: 50%;
    }
    &.top {
      top: -$size - 1;
      left: 50%;
    }
  }
  @include decorLineHover($size);
}
@mixin closeToggle($width: 42px, $background: $darkWhite) {
  display: block;
  width: $width;
  height: $width;
  span {
    display: block;
    width: $width;
    height: 1px;
    background: $background;
    position: absolute;
    top: 50%;
    &:first-child {
      @include transform(rotate(45deg));
    }
    &:last-child {
      @include transform(rotate(-45deg));
    }
  }
}

// hovers
@mixin revertButtonHover() {
  @include fillingHover($white, $baseColor);
}

@mixin buttonHover() {
  @include fillingHover();
}
@mixin fillingHover($background: $baseColor, $color: $white) {
  @include transition();
  &:hover {
    background: $background;
    color: $color;
    border-color: $background;
  }
}


@mixin decorLineHover($size) {
  .separate_line_hover {
    @include transition(all .15s);
    &.left, &.right {
      width: 0;
    }
    &.top, &.bottom {
      height: 0;
    }
  }
  &:hover {
    .separate_line_hover {
      &.left, &.right {
        width: $size;
      }
     &.top, &.bottom {
      height: $size;
     }
    }
  }
}





// hovers

@mixin marginClear() {
  margin-top: 0;
  margin-bottom: 0;
}

@mixin likeHover() {

}

@mixin textHover($color: $baseColor) {
  @include transition();
  &:hover {
    color: $color;
  }
}

@mixin changeSpriteHover($position) {

  &:hover {
    background-position: $position;
  }
}

@mixin revertGrayScaleHover() {
  @include filter(grayscale(100%) brightness(10%) contrast(100%) invert(100%));
  @include transition();
  &:hover {
    @include filter(none);
  }
}


// css3
@mixin transition($prop: all $baseTransitionDuration) {
  transition: $prop;
  -webkit-transition: $prop;
  -moz-transition: $prop;
  -o-transition: $prop;
}

@mixin transform($prop) {
  transform: $prop;
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -o-transform: $prop;
  -ms-transform: $prop;
}

@mixin boxShadow($prop) {
  box-shadow: $prop;
  -webkit-box-shadow: $prop;
  -moz-box-shadow: $prop;
  -o-box-shadow: $prop;
}

@mixin filter($prop) {
  filter: $prop;
  -webkit-filter: $prop;
}


@mixin webkitPlaceholderStyle($fontSize: $baseFontSize, $fontColor: $black) {
  &::-webkit-input-placeholder {
    font-size: $fontSize;
    color: $fontColor;
  }
}

@mixin mozPlaceholderStyle($fontSize: $baseFontSize, $fontColor: $black) {
  &:-moz-placeholder {
    font-size: $fontSize;
    color: $fontColor;
  }
  &::-moz-placeholder {
    font-size: $fontSize;
    color: $fontColor;
  }
}


// custom for forms plugin
@mixin customFormsStyle() {
  background: $transparent !important;
  height: 35px !important;
  border: 1px solid $black !important;
  padding-left: 20px !important;
  @include webkitPlaceholderStyle();
  @include mozPlaceholderStyle();
}

@mixin customSubmitStyle() {
  height: $buttonHeight !important;
  border: 2px solid $black;
  background: $transparent;
  color: $black;
  @include margin_align();
  text-transform: uppercase;
  border-radius: 0;
  width: $mediumButtonWidth;
  font-size: $baseFontSize - 2;
  font-family: $boldFont;
  box-shadow: none !important;
  @include align();
}


