.toggle_button {
  width: 50px;
  height: 50px;
  border: $baseBorder;
  cursor: pointer;
  @include transition();
  @include flex_align(center, center);
  flex-direction: column;
  span {
    width: 25px;
    height: 3px;
    background: $navToggleBackground;
    display: block;
    @include transition();
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &.base_color_toggle {
    border-color: $baseColor;
    span {
      background: $baseColor;
    }
  }
  &:hover {
    border-color: $navToggleHover;
    span {
      background: $navToggleHover;
    }
  }
  @media screen and (max-width: $smScreen) {
    width: 30px;
    height: 30px;
    border: 2px solid $orange;
    span {
      width: 15px;
      background: $orange;
      height: 2px;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }

  }
}

.main_nav {
  display: none;
  background: $navBackground;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 160px;
  left: 0;
  padding: 45px 0;
  .left_separate {
    &::before {
      height: 270px;
    }
  }
  .nav {
    margin-top: 10px;
    padding-left: 15px;
    li {
      a {
        &:focus, &:active {
          background: none !important;
        }
      }
    }
    & > li {
      &.sub_menu {
        margin-bottom: 23px;
      }
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 15px;
      }
      a, .sub {
        font-family: $boldFont;
        font-size: $baseFontSize - 1;
        color: $white;
        text-transform: uppercase;
        &:hover {
          background-color: transparent;
        }
        span {
          font-family: $baseFont;
          color: $white;
        }
      }
      .sub_padd {
        padding: 10px 15px;
        display: block;
      }
      &:not(.not_hover):hover {
        * {
          color: $navHover;
        }
      }
      .sub_nav {
        li {
          margin-bottom: 2px;
          a {
            font-size: $baseFontSize - 3;
            font-family: $baseFont;
            text-transform: capitalize;
            padding: 10px 15px;
          }
          &:hover {
            a {
              color: $navHover;
            }
          }
        }
      }
    }
    .social_block {
      padding-left: 15px;
      li {
        display: inline-block;
        margin-right: 20px;
        padding-top: 5px;
      }
    }
  }
  @media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
    .nav_close {
      z-index: 10000;
    }
  }
  @media screen and (max-width: $smScreen) {
    position: absolute;
    left: 0;
    top: 0;
    .nav_close {
      z-index: 10000;
      cursor: pointer;
    }
    .nav {
      margin-top: 0;
      li {
        a, span, .sub {
          font-size: $baseFontSize + 6 !important;
        }
        .sub_nav {
          padding-left: 15px;
          li {
            margin-top: 15px;
            a {
              font-size: $baseFontSize + 6 !important;
            }
          }
        }
        &.sub_menu {
          margin-bottom: 0;
          position: relative;
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 16px;
            top: 47px;
            background: $white;
            width: 1px;
            height: 142px;
          }
        }
      }
    }
    .nav_close {
      top: 40px;
    }
    .left_separate {
      &::before {
        display: none !important;
      }
    }
  }
}

.nav_close {
  position: absolute;
  right: 30px;
  top: 30px;
  @include closeToggle();
}