.toggle_button {
  width: 50px;
  height: 50px;
  border: $baseBorder;
  @include flex_align(center, center);
  flex-direction: column;
  span {
    width: 25px;
    height: 3px;
    background: $navToggleBackground;
    display: block;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &.base_color_toggle {
    border-color: $baseColor;
    span {
      background: $baseColor;
    }
  }
}

.main_nav {
  display: none;
  background: $navBackground;
  position: fixed;
  z-index: 10000;
  width: 100%;
  top: 160px;
  left: 0;
  padding: 45px 0;
  .left_separate {
    &::before {
      height: 270px;
    }
  }
  .nav {
    margin-top: 10px;
    padding-left: 15px;
    & > li {
      margin-bottom: 35px;
      &:last-child {
        margin-bottom: 15px;
      }
      a {
        font-family: $boldFont;
        font-size: $baseFontSize - 1;
        color: $white;
        text-transform: uppercase;
        &:hover {
          background-color: transparent;
        }
        span {
          font-family: $baseFont;
        }
      }
      &:hover {
        * {
          color: $baseColor;
        }
      }
    }
    .social_block {
      padding-left: 15px;
      li {
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}

.nav_close {
  position: absolute;
  right: 30px;
  top: 30px;
  @include closeToggle();
}