main {
  .prize_banner {
    $blockHeight: 460px;
    .about_prize {
      background-image: url('../images/abstract_prize.png');
      background-repeat: no-repeat;
      height: $blockHeight;
      padding-top: 50px;
      padding-bottom: 70px;
      .banner_heading {
        margin-bottom: 15px;
      }
      .text {
        width: 74%;
        margin-top: 10px;
      }
      .button_more {
        margin-top: 65px;
      }
    }
    .thumb_block {
      height: $blockHeight;
      background: url('../images/prize_img.png') no-repeat;
      background-size: cover;
      img {

      }
    }
    @media screen and (max-width: $smScreen) {
      $thumbBlockHeight: 190px;
      .thumb_block {
        background: url('../images/mobile_prize_img.png') no-repeat;
        background-size: cover;
        height: $thumbBlockHeight;
        padding-top: 55px;
      }
      .about_prize {
        $aboutPrizeBlockHeight: 250px;
        height: $aboutPrizeBlockHeight;
        padding: 30px 20px 45px 20px;
        background-position: -45px -167px;
        .text {
          width: auto;
        }
        .button_more {
          margin-top: 35px;
          .button {
            @include margin_align();
          }
        }
      }
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
      .thumb_block {
        height: 310px;
      }
    }
  }
  .nominations_banner {
    .banner_heading {
      margin-bottom: 30px;
    }
    $blockHeight: 441px;
    padding: 65px 0 70px 0;
    .wrapper {
      &:not(:last-child) {

      }
    }
    .namination_item {
      padding-top: 50px;
      height: $blockHeight;
      border: $baseBorder;
      width: 85%;
      display: inline-block;
      .icon {
        height: 65px;
        margin-bottom: 35px;
      }
      .title {
        padding-bottom: 35px;
        position: relative;
        .separate {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          @include align();
          &::after {
            content: '';
            width: 80px;
            display: inline-block;
            height: 2px;
            background: $white;
          }
        }
        margin-bottom: 25px;
      }
      .text {
        padding: 0 25px;
        height: 55px;
        p {
          font-size: $baseFontSize - 2;
        }
        margin-bottom: 50px;
      }
    }
    .alt_text {
      margin-top: 35px;
      h3 {
        font-size: $h3FontSize - 3;
      }
    }
    .button {
      a {
        display: block;
        width: 100%;
        &:hover {
          color: $white;
        }
      }
    }
    @media screen and (max-width: $smScreen) {
      padding: 20px 30px 30px 30px;
      $itemHeight: 180px;
      .wrapper {
        margin-bottom: 25px;
        @include align();
      }
      .namination_item {
        height: $itemHeight;
        padding-top: 30px;
        width: 90%;
        .icon {
          height: 60px;
          margin-bottom: 25px;
        }
      }
    }
  }
  .condition_banner {
    padding: 70px 0;
    .text {
      margin-bottom: 50px;
    }
  }
  .participation_banner {
    background-image: url('../images/abstract_1.png');
    background-repeat: no-repeat;
    $blockHeight: 460px;
    height: $blockHeight;
    .wrapper {
      padding: 75px 10% 90px 8%;
    }
    .thumb_wrapper {
      height: $blockHeight;
      .thumb {
        height: 100%;
        background: url('../images/people_banner-2.png') no-repeat;
        background-size: cover;
        overflow: hidden;
        img {
          width: 100%;

        }
      }
    }
    .banner_heading {
      margin-bottom: 15px;
    }
    .text {
      margin-bottom: 14px;
    }
    .more_text {
      span {
        line-height: $baseLineHeight - 2;
      }
      .text_right {
        padding-left: 10px;
      }
    }
    .button_more {
      margin-top: 50px;
    }
    //@media screen and (min-width: $smScreen) and (max-width: $mdScreen) {
    //  padding-left: 5%;
    //}

    @media screen and (max-width: $smScreen) {
      background-position: -171px 189px;
      height: auto;
      .thumb_wrapper {
        height: 190px;
        .thumb {
          background: url('../images/mobile_people_banner.png') no-repeat;
          padding-top: 60px;
          position: relative;
          background-size: cover;
        }
      }
      .about_wrapper {
        padding: 30px 10px 35px 10px;
        img {
          width: 35px;
          margin: 15px auto;
        }
      }
      .button_more {
        margin-top: 35px;
        .button {
          @include margin_align();
        }
      }
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
      background-position: 0 0;
      background-size: cover;
      .thumb_wrapper {
        height: 320px;
      }
    }
  }
  .partners_banner {
    background-image: url('../images/abstract_partners.png');
    background-repeat: no-repeat;
    padding: 58px 0;
    .banner_heading {
      margin-bottom: 60px;
    }
    .partners_list {
      @include clearfix();
      li {
        display: block;
        float: left;
        width: 20%;
        height: 50px;
        img {
          @include margin_align();
        }
        &:nth-child(3) {
          margin-top: -20px;
        }
      }
    }
  }
  .judge_banner {
    padding: 45px 0;
    .banner_heading {
      margin-bottom: 25px;
    }
  }
  .how_win_banner {
    background: url('../images/abstract_win.png') no-repeat;
    padding: 70px 0 60px 0;
    .banner_heading {
      margin-bottom: 60px;
    }
    .item_wrapper {
      height: 190px;
      position: relative;
      padding: 0 25%;
      .icon {
        height: 80px;
        margin-bottom: 25px;
        * {
          @include margin_align();
        }
      }
      .text {
      }
      .small_arrow {
        position: absolute;
        right: 0;
        bottom: 45px;
      }
    }
    @media screen and (max-width: $smScreen) {
      background: url('../images/mobile_grid_background.png') no-repeat;
      background-size: cover;
      padding: 25px 40px 40px 40px;
      .banner_heading {
        margin-bottom: 25px;
        * {
          color: $white;
        }
      }
      .text {
        * {
          color: $white;
        }
      }
      .small_arrow {
        background-image: url('../images/white_small_arrow.png');
        right: -10px !important;
        bottom: 25px!important;
      }
      .item_wrapper {
        $itemHeight: 120px;
        height: $itemHeight;
        padding: 0 12px;
        margin-bottom: 20px;
        .icon {
          height: 40px;
          margin-bottom: 15px;
        }
      }
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
      background: url('../images/grid_background.png') no-repeat;
      background-size: cover;
    }
  }
  .registration_banner {
    $blockHeight: 410px;
    .info_block {
      height: $blockHeight;
     & > div {
        height: 100%;
       padding: 80px 0;
      }
      .text {
        padding-right: 18%;
        margin-bottom: 60px;
      }
    }
    .banner_heading {
      margin-bottom: 15px;
      &::after {
        background: $white;
      }
    }
    .thumb_block {
      background: url('../images/registration_thumb.png') no-repeat;
      background-size: cover;
      height: $blockHeight;
      &.is_logged {
        background: url('../images/new_bann.jpg') no-repeat;
        background-size: cover;
      }
    }
    @media screen and (max-width: $smScreen) {
      $bannerHeight: 180px;
      .thumb_block {
        height: $bannerHeight;
        padding-top: 65px;
        background: url('../images/mobile_registration_thumb.png') no-repeat;
        background-size: cover;
        h2 {
          margin-top: 0;
        }
      }
      .info_block {
        height: auto;
        & > div {
          padding: 35px 0;
        }
        .text {
          padding: 0 20px;
          margin-bottom: 30px;
        }
        .registration_button {
          .button {
            @include margin_align();
          }
        }
      }
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
      $bannerHeight: 310px;
      .thumb_block {
        height: $bannerHeight;
      }
      .info_block {
        height: $bannerHeight * 0.8;
      }
    }
  }
  .contact_form_banner {
    $bannerHeight: 500px;
    height: $bannerHeight;
    background: url('../images/abstract_contact.png') no-repeat right top;
    padding: 65px 0 55px 0;
    .text {
      margin-bottom: 35px;
    }
    @media screen and (max-width: $smScreen) {
      padding: 35px 0;
      background-position: -551px 0px;
      .text {
        padding: 15px 20px 0 20px;
      }
    }
    @media screen and (min-width: $xsScreen) and (max-width: $smScreen) {
      background-position: 50% 0;
    }
  }
  &.judge_page {
    margin-bottom: 75px;
    .judge_person {
      padding: 30px 0;
      .thumb {
        padding-right: 40px;
        img {
          border: 1px solid $black;
        }
      }
      .text {
        p {
          font-size: $baseFontSize - 1;
        }
      }
      &.active {
        border: 2px solid $orange;
      }
    }
    @media screen and (max-width: $smScreen) {
      .judge_list {
        padding: 0 20px;
        .judge_person {
          .thumb {
            margin-bottom: 15px;
            img {
              max-width: 140px;
            }
          }
          .text {
            padding-left: 15px;
            .person_name {
              font-family: $boldFont;
              padding-right: 41%;
            }
          }
        }
      }
    }
  }
  &.partners_page {
    margin-bottom: 75px;
    .partners_list {
      .partner_item {
        padding: 35px 0;
        &.active {
          border: 2px solid $orange;
        }
      }
      .thumb {
        padding-right: 50px;
      }
      .text {
        p {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    @media screen and (max-width: $smScreen) {
      .partners_list {
        padding: 0 20px;
        .partner_item {
          padding-top: 10px;
          .thumb {
            margin-bottom: 10px;
            img {
              @include margin_align();
            }
          }
        }
      }
    }
  }
  &.project_page {
    margin-bottom: 70px;
    .project {
      .thumb {
        float: left;
        width: 72%;
        position: relative;
        .thumb_overlay {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background: url('../images/arh_background.png') no-repeat;
          background-size: contain;
        }
      }
      .project_desc {
        float: left;
        width: 28%;
        padding-left: 25px;
        .person_name {
          p {
            margin: 0;
          }
        }
        .project_name {
          margin-bottom: 15px;
        }
        .project_like {
          margin-bottom: 50px;
        }
      }
    }
    .about_project {
      margin-top: 50px;
      .text_heading {
        margin-bottom: 10px;
      }
      .text {
        p {
          line-height: $baseLineHeight + 3;
        }
      }
      margin-bottom: 55px;
    }
    @media screen and (max-width: $smScreen) {
      .project {
        padding: 0 20px;
        .thumb {
          width: 100%;
          img {
            @include margin_align();
          }
        }
        .project_desc {
          width: 100%;
          padding-left: 0;
          p {
            font-weight: 100;
          }
        }
      }
    }
  }
  &.create_project_page {
    .text {
      margin-bottom: 30px;
    }
  }
  &.prize_page {
    padding-bottom: 70px;
    @media screen and (max-width: $smScreen) {
      & > div {
        padding: 0 20px;
      }
    }
  }
  &.nomination_page {
    padding-bottom: 70px;
    .submit_row {
      margin-top: 40px;
    }
    @media screen and (max-width: $smScreen) {
      padding: 0 20px;
      .submit_row {
        margin-bottom: 40px;
      }
    }
  }
  .wpuf-form {
    span.required {
      display: none;
    }
    input[type="submit"] {
      width: 28.5% !important;
      border-radius: 0 !important;
      background: transparent !important;
      border: 1px solid $black !important;
      color: $black !important;
    }
  }
  .entry-header {
    display: none;
  }
  ul.wpuf-form li .wpuf-label {
    display: none;
  }
  ul.wpuf-form li .wpuf-fields textarea {
    width: 38.3%;
  }
  ul.wpuf-form li .wpuf-fields select {
    width: 300px;
  }
  .file-selector {
    width: 38% !important;
    border-radius: 0 !important;
    background: transparent !important;
    border: 1px solid $black !important;
    color: $black !important;
  }
}

.hel_block {
  margin-bottom: 50px;
  @media screen and (max-width: $smScreen) {
    padding: 0 20px;
  }
}
.user_info_block {
  padding: 0 20px;
  .block_heading {
    h4 {
      font-weight: 700;
    }
  }
  .info_list {
    li {
      font-weight: 200;
      .data {
        font-weight: 200;
      }
    }
  }
}
.registration_modal {
  z-index: 100000;
}
.wpuf-submit {
  width: 100% !important;
}

.news_list {
  .partner_item {
    padding: 30px 0;
    .thumb {
      height: 145px;
      overflow: hidden;
      img {
        //min-height: 100%;
        width: 95%;
        @include margin_align();
      }
    }
    .news_link {
      float: right;
      @include textHover();
    }
    .text {
      padding-left: 30px;
    }
  }
  margin-bottom: 90px;
  @media screen and (max-width: $smScreen) {
    .partner_item {
      padding-top: 0;
      .mobile_news_title {
        padding: 0 20px;
        h4 {
          font-size: $baseFontSize;
          font-family: $boldFont;
        }
      }
      .thumb {
        padding: 0 20px;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .text {
        padding: 0 20px;
        p {
          font-weight: 200;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .partner_item {
      .thumb {
        height: auto;
      }
    }
  }
}

.single_news_page {
  margin-bottom: 90px;
  @media screen and (max-width: $smScreen) {
    padding: 0 20px;
    .content {
      img {
        &.size-full {
          max-width: 100% !important;
          height: auto !important;
        }
      }
    }
  }
}
.news_thumb_full {
  margin-bottom: 35px;
}
.single_news_page {
  .content {
    margin-bottom: 20px;
  }
  .back_news_link {
    a {
      @include textHover();
    }
  }
}


main {
  &.concurs_rules {
    margin-bottom: 75px;
    .button_row {
      margin-top: 25px;
    }
    @media screen and (max-width: $smScreen) {
      padding: 0 20px;
    }
  }
  &.about_page {
    @media screen and (max-width: 768px) {
      .about_text {
        padding: 0 20px;
        strong {
          font-family: $boldFont;
        }
      }
      .shedule {
        $sheduleHeight: 810px;
        position: relative;
        margin-top: 30px;
        padding: 0 20px;
        .action_item {
          .action_date {
            border-bottom: 1px solid $black;
            padding-left: 30px;
            padding-bottom: 20px;
            span {
              font-size: $baseFontSize + 1;
            }
          }
          .action_title {
            padding-left: 30px;
            padding-top: 20px;
            span {
              font-size: $baseFontSize + 1;
            }
          }
          &:first-child {
            .action_title {
              margin-bottom: 155px;
            }
          }
          &:nth-child(2) {
            .action_title {
              margin-bottom: 75px;
            }
          }
          &:nth-child(3) {
            margin-bottom: 50px;
          }
          &.active {
            .date_line_mobile {
              position: absolute;
              left: 15px;
              top: 42px;
              display: block;
              width: 3px;
              height: 25px;
              background: $orange;
            }
          }
        }
        &::before {
          content: '';
          display: block;
          width: 2px;
          height: $sheduleHeight;
          background: $black;
          position: absolute;
          left: 35px;
          top: 0;
        }
        //@media screen and (min-width: $)
      }
    }
    @media screen and (min-width: 768px) and (max-width: $smScreen) {
      .about_text {
        padding: 0;
      }
    }
  }
}

#primary {
  @media screen and (max-width: $smScreen) {
    padding: 0 20px;
  }
}

.update_user_form {
  margin-bottom: 40px;
  input {
    margin-bottom: 20px;
  }
}

