.center-slider {
  position: relative;
  .arrow {
    position: absolute;
    top: 50%;
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  div {
    outline: none;
    height: auto;
    @include transition();
    img {
      vertical-align: middle;
      @include margin_align();
    }
    &.slick-center {
      @include transform(scale(1.2));
    }
  }
}