.center-slider {
  position: relative;
  .arrow {
    position: absolute;
    top: 47%;
    &.left {
      left: -10px;
    }
    &.right {
      right: -10px;
    }
  }
  div {
    outline: none;
    height: auto;
    @include transition();
    img {
      max-width: 145px;
      vertical-align: middle;
      border: $baseBorder;
      @include margin_align();
    }
    &.slick-center {
      @include transform(scale(1.2));
    }
  }
  .slick-list {
    padding-top: 30px !important;
  }
  .person_desc {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    padding-bottom: 30px;
    p {
      margin: 0;
      font-size: $baseFontSize - 2;
      color: $white;
    }
  }
  a {
    outline: none !important;
    text-decoration: none !important;
  }
}