.nomination_sprite {
  background-image: url('../images/nomination_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.nomination_sprite-icon_build {
  width: 78px;
  height: 65px;
  background-position: -5px -5px;
}

.nomination_sprite-icon_light {
  width: 39px;
  height: 71px;
  background-position: -93px -5px;
}

.nomination_sprite-icon_state {
  width: 87px;
  height: 52px;
  background-position: -5px -86px;
}
.last_nomination_sprite {
  width: 90px;
  height: 90px;
  background: url('../images/last_namination.png') no-repeat;
  @include margin_align();
}

.social_sprite {
  //background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.social_sprite-fb_icon {
  width: 34px;
  height: 34px;
  background-position: -5px -5px;
}

.social_sprite-inst {
  width: 33px;
  height: 33px;
  background-position: -49px -5px;
}

.social_sprite-vk_icon {
  width: 33px;
  height: 33px;
  background-position: -49px -48px;
}


.social_arrow {
  background-image: url('../images/arrow_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.social_arrow-arrow_left {
  width: 19px;
  height: 43px;
  background-position: -5px -5px;
}

.social_arrow-arrow_right {
  width: 19px;
  height: 43px;
  background-position: -34px -5px;
}

.win_sprite {
  background-image: url('../images/win_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.win_sprite-win_tabl {
  width: 42px;
  height: 57px;
  background-position: -5px -5px;
}

.win_sprite-win_cloud {
  width: 61px;
  height: 59px;
  background-position: -57px -5px;
}

.win_sprite-win_cloud_output {
  width: 61px;
  height: 58px;
  background-position: -128px -5px;
}

.win_sprite-win_prize {
  width: 62px;
  height: 58px;
  background-position: -128px -73px;
}



.partners_logo {
  background-image: url('../images/partners_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.partners_logo-arh_time {
  width: 53px;
  height: 56px;
  background-position: -5px -5px;
}

.partners_logo-graphisoft {
  width: 114px;
  height: 18px;
  background-position: -5px -71px;
}

.partners_logo-rockwol {
  width: 121px;
  height: 20px;
  background-position: -5px -99px;
}

.partners_logo-schuco {
  width: 114px;
  height: 19px;
  background-position: -68px -5px;
}

.like_sprite {
  background-image: url('../images/like_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.like_sprite-like_click {
  width: 19px;
  height: 17px;
  background-position: -5px -5px;
}

.like_sprite-like_hover {
  width: 19px;
  height: 17px;
  background-position: -34px -5px;
}

.like_sprite-like_icon {
  width: 19px;
  height: 17px;
  background-position: -5px -31px;
}


.soc_hov {
  background-image: url('../images/soc_hov.png');
  background-repeat: no-repeat;
  display: block;
}

.soc_hov-fb_hov {
  width: 24px;
  height: 24px;
  background-position: -5px -5px;
}

.soc_hov-insta_hov {
  width: 24px;
  height: 23px;
  background-position: -39px -5px;
}

.soc_hov-vk_hox {
  width: 24px;
  height: 23px;
  background-position: -39px -38px;
}

.soc_hov_new {
  background-image: url('../images/soc_new.png');
  background-repeat: no-repeat;
  display: block;
}

.soc_hov_new-fb {
  width: 24px;
  height: 24px;
  background-position: -5px -5px;
  &:hover {
    background-position: -39px -5px;
  }
}

.soc_hov_new-fb_hox {
  width: 24px;
  height: 24px;
  background-position: -39px -5px;
}

.soc_hov_new-inst {
  width: 24px;
  height: 23px;
  background-position: -5px -39px;
  &:hover {
    background-position: -39px -39px;
  }
}

.soc_hov_new-inst_hov {
  width: 24px;
  height: 23px;
  background-position: -39px -39px;
}

.soc_hov_new-vk {
  width: 24px;
  height: 23px;
  background-position: -73px -5px;
  &:hover {
    background-position: -73px -38px;
  }
}

.soc_hov_new-vk_hov {
  width: 24px;
  height: 23px;
  background-position: -73px -38px;
}


.mobile_win {
  background-image: url('../images/mobile_win_sprite.png');
  background-repeat: no-repeat;
  display: block;
}

.mobile_win-mibile_win_cloud_output {
  width: 42px;
  height: 40px;
  background-position: -5px -5px;
}

.mobile_win-mobile_win_cloud {
  width: 42px;
  height: 41px;
  background-position: -57px -5px;
}

.mobile_win-mobile_win_prize {
  width: 43px;
  height: 40px;
  background-position: -5px -56px;
}

.mobile_win-mobile_win_tabl {
  width: 29px;
  height: 39px;
  background-position: -109px -5px;
}






