p, span, a {
  font-size: $baseFontSize;
  font-family: $baseFont;
  line-height: $baseLineHeight;
  letter-spacing: $baseFontKerning;
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  @media screen and (max-width: $smScreen) {
    font-size: $baseMobileFontSize;
    font-weight: 600;
  }
}
p, span, input {
  color: $black;
}

.bold_font {
  font-family: $boldFont;
}

.base_font {
  font-family: $baseFont;
}
.white {
  color: $white;
}

.black {
  color: $black;
}

.small_text {
  font-size: $smallFont;
}

h1 {
  &.big_font {
    font-size: $bigH1Font;
    font-family: $ghostFont;
    font-weight: 100;
  }
}

h2 {
  font-size: $h2FontSize;
  font-family: $boldFont;
  @media screen and (max-width: $smScreen) {
    font-size: $h3FontSize;
    font-weight: 200;
  }
}

h3 {
  font-size: $h3FontSize;
  font-family: $boldFont;
  @include marginClear();
  @media screen and (max-width: $smScreen) {
    font-size: $mobileH3FontSize;
  }
}
h5 {
  font-family: $boldFont;
}

.up {
  text-transform: uppercase;
}

.banner_heading {
  * {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.with_separate {
    position: relative;
    padding-bottom: 12px;
    &::after {
      content: '';
      display: block;
      width: 80px;
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      background: $black;
    }
  }
}

.category_heading {
  margin-bottom: 35px;
  background: $categoryHeadingBackground;
}