
// colors
$transparent: transparent;
$white: #ffffff;
$black: #1f2932;
$baseColor: #c34519;
$lightBackground: #f0f5f8;
$navBackground: #001f30;
$darkWhite: #d3d8db;





$baseBorder: 1px solid $white;



// font
$baseFontSize: 16px;
$smallFont: $baseFontSize - 4;
$h2FontSize: $baseFontSize * 2;
$h3FontSize: $baseFontSize + 8;
$baseFont: 'PT Serif Regular';
$boldFont: 'PT Serif Bold';

$baseLineHeight: 18px;
$largeLineHeight: $baseLineHeight * 2;

$baseFontKerning: 25;
$largeFontKerning: $baseFontKerning * 2;


// button

$buttonFontSize: $baseFontSize - 1;
$buttonFont: $boldFont;
$buttonHeight: 33px;
$baseButtonBorder: 2px solid $white;
$mediumButtonWidth: 184px;
$baseButtonBackground: $transparent;

// nav
$navToggleBackground: $white;


$baseTransitionDuration: 0.3s;

// decor
$separateLineWidth: 80px;
$separateLineHeight: 2px;


// helpers
$helperHeight: 35px;
$helperRed: $baseColor;


// form

$inputHeight: 40px;
$inputBackground: $transparent;

// footer

$footerHeight: 445px;